
.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.button {
    width: 120px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: none;
    margin: 0 4px;
    font-weight: 500;
    font-size: 18px;
    opacity: 0.95;
}

.button:hover {
    opacity: 1;
}

.primary {
    background-color: var(--color-accent);
    color: white;
}

.secondary {
    background-color: white;
    color: var(--color-text);
}